rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document} {
      allow read, write: if true;
    }
    match /deviceTransfers/{document} {
      allow read, write: if true;
    }
    match /deviceBackups/{document} {
      allow read, write: if true;
    }
    match /global_players/{document} {
      allow read, write: if true;
    }
    match /shared_profiles/{document} {
      allow read, write: if true;
    }
    match /word_requests/{document} {
      allow read, write: if true;
    }
    match /adopted_words/{document} {
      allow read, write: if true;
    }
    match /typing_reports/{document} {
      allow read, write: if true;
    }
    match /word_corrections/{document} {
      allow read, write: if true;
    }
  }
}
